body{
    font-family: 'Yu Gothic';
}

header{
    background-image: url(portfolio_top.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-size: cover;
    margin-bottom: 40px;
}

header::before{
    content:"";
    position: absolute;
    display: block;
    filter: blur(5px);
    background:inherit;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

.frame{
    background-color:white;
    opacity: 0.7;
    margin-top: 40px;
}

.myName{
    padding-top: 20px;
    font-size: 30px;
}

.engineer{
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 20px;
}

.button{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 20px;
    border: 2px solid white;
    background-color: white;
    opacity: 0.7;
    font-size: 20px;
    display: inline-block;
    width: 130px;
    height: 30px;
    text-align: center;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

main{
    display:block;
    text-align:center;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profileTitle{
    font-size: 24px;
}

.profileMain{
    width: 450px;
    text-align:left;
    margin-bottom: 30px;
}

.programmingLanguageTitle{
    font-size: 20px;
}

#works{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worksTitle{
    font-size: 24px;
}

.works1Title{
    font-size: 20px;
    text-align: center;
}

.descriptionDesign{
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color:burlywood;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:20px;
    margin-bottom: 10px;
    display:none;
}

.works2{
    margin-top: 10px;
}

.works2Img{
    width: 555px;
}

.works3Img{
    width:555px;
}

.works4Img{
    width: 555px;
}

footer{
    background-color: black;
    width: 100%;
    margin-top: 50px;
    text-align:center;
}

.mail{
    background-color: white;
    display: inline-block;
    font-size: 24px;
    opacity: 0.8;
    margin: 30px 0;
    padding: 0 5px;
}

.fa-envelope{
    padding-right: 3px;
}

@media(max-width: 1024px){
    body{
        width: 100%;
    }
}

@media(max-width: 800px){
    body{
        width: 100%;
    }
}
